---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
  		<h1>About Me</h1>
        <p>Hi! I'm Andrea. I shoot 35mm film while traveling, capturing places, details, and moments that stand out along the way. This site is a personal archive of my photography — a way of sharing how I see the world through film</p>
	</body>
</html>
